<h1>All users</h1>

<h2><%= @users.count %> registered users</h2> <!-- the page of users. only admins can view this cos of the code in app html-->

<ul>
    <% @users.each do |user| %>
        <p> <%= user.email %> </p>
    <% end %>
</ul>