<h1>Edit Game</h1>

<%= render :partial => 'form', :class => "form-control", :class => "btn btn-secondary" %> 

<!-- same issue as new game page. didnt get bootstrap workin properly with these two -->

