<h1>Welcome!</h1>

<p>Welcome back <%= @current_user.email if @current_user.present? %>!</p>

<p>Delve into this site and view any game ever made! If a game you love isn't here, simply add it to our vast library of games!</p>