<div class="row"> <!-- bootstrap for all games page. want to add an image too, the two empty classes are just to keep free space on either side of the middle one** -->
    <div class="col-md-3">


    </div>

    <div class="col-md-3">

        <h1>All games</h1>
<br>
        <h2>Total games: <%= @games.count %></h2>
<br>
        <ul>
            <% @games.each do |game| %>
                <li class="link">
                    <%= link_to game.title, game %>
                </li >
            <% end%>
        </ul>
    </div>

    <div class="col-md-3">


    </div>

</div>


