<div class="row">
    <div class="col-md-3">


    </div>

    <div class="col-md-3">

        <h1>All games</h1>
<br>
        <h2>Total games: <%= @games.count %></h2>
<br>
        <ul>
            <% @games.each do |game| %>
                <li>
                    <%= link_to game.title, game %>
                </li>
            <% end%>
        </ul>
    </div>

    <div class="col-md-3">


    </div>

</div>


