<div class="newgame">

    <h1>Add a new game to the collection!</h1>

    <%= render :partial => 'form', :class => 'form-control', :class => "btn btn-secondary" %> <!-- not sure how to use bootstrap with render :/ -->

</div>
