body {
    background-color: rgba(151, 146, 146, 0.466);
}

.bg-dark {
    background-color: #c81e1ed6 !important;
}

a {
    color: black;
    font-weight: 700;
}

.signup {
    max-width: 600px;
    margin: 0 auto;
}

.signin {
    max-width: 600px;
    margin: 0 auto;
}

.home {
    margin: 0 auto;
    text-align: center;
}

.newreview {
    max-width: 600px;
    margin: 0 auto;
}

.newgame {
    max-width: 600px;
    margin: 0 auto;
}

.img1 {
    max-width: 900px;
    margin: 0 auto;
}

.img1 > img {
    max-width: 900px;
    border-radius: 8%;
}
