<h1>All reviews</h1>

<% @reviews.each do |review| %>

<ul><strong><%= review.title %></strong></ul> <!-- have not properly connected users to reviews so this page can't be accessed unless u type 'reviews' in the search bar. -->
<ul><%= review.description %></ul>

<% end %>